div {    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    min-height: 100vh;
    background: linear-gradient(135deg, #2222b1, #5a4eff, #a754eb);
    color: white;

 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}


h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}


form {
    background-color: #00025f;
    padding: 25px;
    width: 100%;
    max-width: 420px;
    border-radius: 15px;
    margin-bottom: 20px;
    margin-top: 20px;
}

p {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

input {
    width: 400px;
    padding: 10px;
    margin-bottom: 25px;
    border-radius: 5px;
    border: none;
    outline: none;
}

button {
    width: 400px;
    padding: 10px;
    background-color: #4a6cff;
    color: #ffffff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 20px;    
    
}

/* animacao do botao */
button:hover {
    transform: scale(1.05);
    background-color: #6b85ff;
}

table {
    width: 900px;
    max-width: 900px;
    border: #6b85ff;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #00025f;
    border-radius: 15px;
    overflow: hidden;
}
/* cabecalho da tabela */
thead {
    background-color: #111177;
}

th, td {
    padding: 10px;
    text-align: center;
    font-size: 15px;
    border-right: 1px solid #ffffff;
}

/* linhas na tabela */
tbody tr:nth-child(even) {
    background-color: #ffffff;
}

/* estilizar o botao da acao da tabela */
td button {
    width: auto;
    padding: 5 10px;
    margin: 2px;
    font-size: 12px;
    border-radius: 15px;
}

.input-arquivo {
    width: 400px;
    padding: 10px;
    background-color: #4a6cff;
    color: #ffffff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 50px; 
}

.input-arquivo:hover {
    transform: scale(1.05);
    background-color: #6b85ff;
}
