body {
    margin: 0;
    font-family: Arial;
    background: linear-gradient(135deg, #2222b1, #5a4eff, #a754eb);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div {
    background-color: #00025f;
    padding: 30px;
    width: 400px;
    border-radius: 15px;
}

p {
    font-size: 15px;
}

input {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

button {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    background-color: #4a6cff;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    
}

button:hover {
    transform: scale(1.1); 
}

div2 {
    background-color: #00025f;
    padding: 30px;
    width: 400px;
    border-radius: 15px;
}

ul {
    list-style: none;
    padding: 0;
    width: 300px;
    margin-top: 20px;
}

li {
    background-color: #111122;
    padding: 10px; 
    margin-bottom: 8px;
    border-radius: 5px;
    font-size: 13px;
}