body {
    min-height: 100vh;
    background: linear-gradient(130deg, #1b1b41, #3a0ca3, #7209b7);
    margin: 0;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #f1f1f1;
    margin-bottom: 10px;
    text-align: center;
    letter-spacing: 2px;
    text-shadow: 0 0 8px slategrey;
}

.subtitle {
    color: #ffb4f3;
    text-align: center;
    margin-bottom: 25px;
    font-size: 15px;  
}

button {
    background: linear-gradient(135deg, #ff006e, #ff4d9d);
    color: #f1f1f1;
    padding: 15px 25px;
    border: none;
    border-radius: 1000px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    transition: transform 0.2s, box-shadow 0.2s;
}

button:hover {
    transform: translateY(-3px) scale (1.05);
    box-shadow: 0 15px 25px rgb(96, 5, 46)
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    max-width: 500px;
    width: 100%;
}

p {
    color: #3a0ca3;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 15px;
    text-align: center;
    letter-spacing: 1px;
}

input[type="text"] {
    width: 100%;
    padding: 11px;
    border-radius: 20px;
    border: 1px #d0c4ff;
    margin-bottom: 5px;
    outline: none;
    font-size: 14px;
    background-color: #faf7ff;
    transition: border-color 0.3s, box-shadow 0.3s, transform 0.2s;
}

input[type="text"] ::placeholder {
    color: #a29bfe;
}

input[type="text"]:focus {
    border-color: #7209b7;
    box-shadow: 0 0 10px rgb(114, 9, 183, 0.5);
    transform: scale(1.02);
}

.card {
    background: linear-gradient(145deg, #f1f1f1, #d0c4ff);
    border: 2px solid #7209b7;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
}

@media (max-width: 600px) {
    body {
        padding: 15px;
    }
    h1 {
        font-size: 20px;
    }
    button {
        width: 100%;
    }
}